/*** Générique ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*** Parties communes ***/

body {
  font-size: 1.6rem;
  margin: 0 auto;
  margin: 0;
  color: black;

  /* Définition des couleurs de la charte graphique */
  --deep-gray: hsl(0, 0%, 22%);
  --pale-gray: #C2BEBE;
  --very-pale-gray: #e4e4e4;
  --red: firebrick;
  --light-white: ivory;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

a{
    color: var(--pale-gray);
    text-decoration: none;
}

a:hover{
    color: var(--red);
    text-decoration: none;
}

main{
    position: relative;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 4rem;
}

.img-position{
    text-align: center;
    margin-bottom: 4rem;
}

.img-enlarge img{
    width: 100%;
    max-width: 500px;
}

hr{
    margin-bottom: 4rem;
}


h1{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 4rem;
    position: relative;
}

h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.baseline{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.bouton-lien-animation{
    padding-bottom: 4rem;
    position: relative;
}

.bouton-lien{
    background-color: var(--deep-gray);
    padding: 0;
    border-radius: .5rem;
    transition: .5s all ease;
    bottom: 0;
    position: relative;
    text-align: center;
}


.bouton-60{
    width: 60%;
}

.bouton-lien p{
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0 !important;
}

.bouton-lien:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.747);
    bottom: .7rem;
    background-color: var(--red);
}

/* Nav */
nav {
    width: 100%;
    background: linear-gradient(to bottom, black, black 65%, transparent 95%);
}

.row-titre-parimis{
    background-color: black;
    padding-top: 2rem;
}

.row-titre-parimis a{
    padding-left: 0;
    padding-right: 0;
}

.panier{
    font-family: 'Reem Kufi', sans-serif;
    padding-left: 2rem;
}

.titre-parimis{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 2.5rem;
}

.titre-parimis a{
    color: white;
}

#logo img{
    width: 100%;
}

/* Menu desktop, intégré avec le composer dropdowns de Bootstrap */
.menu-container{
    padding:0;
    position: absolute;
    z-index: 2;
    padding-right: 0;
}

.menu-container h2{
    padding-left: 0;
}

.menu-container h2 a{
    margin-left: 0;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.nav-item{
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
}

.dropdown-menu{
    background-color: black;
    font-size: 2rem;
    border-radius: 0;
    border: none;
    top: 3.5rem;
    width: 100%;
}


.dropdown-item{
    color: var(--pale-gray);
}

.dropdown-item:hover{
    background-color: var(--deep-gray);
    color: var(--red);
}

.form-control, .btn{
    border-radius: 0;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.2rem;
}

select{
    border: none;
    border-radius: .3rem;
}

.language{
    text-align: right;
    color: var(--pale-gray);
    font-family: 'Reem Kufi', sans-serif;
}

.language-mobile{
    text-align: left;
    color: white;
    position: relative;
    top: 3rem;
}

/* Masquer le menu desktop */
@media only screen and (max-width: 991px){
    .menu-container {
        display: none;
    }
}

/* Menu mobile */

.menu-container-mobile nav {
    position: fixed;
    z-index: 10;
    background: transparent;
  }
  
.menu-container-mobile nav p {
    font-size: 1.6rem;
    padding: 0 1rem;
    color: var(--deep-gray);
}

#menu-mobile-contenu{
    width: 100%;
    position: fixed;
    background-color: black;
    padding: 0 2rem 2rem 2rem;
    z-index: 2;
}

.logo-menu-mobile{
    text-align: center;
}

#menu-mobile-contenu a{
    font-size: 2rem;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}

#menu-mobile-contenu a:hover{
    color: var(--red);
}

#menu-mobile-contenu .titre-parimis{
    margin-top: 2rem;
}

#menu-mobile-contenu .titre-parimis a{
    font-size: 2.4rem;
    font-family: 'Cinzel', serif;
}

#menu-mobile-contenu ul {
    margin-top: 2rem;
}

.menu-mobile-reserver{
    font-weight: 600;
}

/* Masquer le menu mobile */
@media only screen and (min-width: 992px){
    .menu-container-mobile, #menu-mobile-contenu {
        display: none;
    }
}

/* Header */

header{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Image de fond du header de template */

.header-template{
    background-image: url("../img/Louvre-2-nuage.jpg");
    height: 100vh;
}

/* Bouton de réservation */
.reservation-area-content{
    font-size: 2rem;
    color: var(--pale-gray);
    font-family: 'Reem Kufi', sans-serif;
    border: solid 1px rgb(32, 0, 0);
    background-color: var(--red);
    max-width: 25rem;
    border-radius: 1rem;
    color: var(--pale-gray);
    bottom: 0;
    transition-property: box-shadow, bottom;
    transition-duration: .5s;
}

.reservation-area-content:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.747);
    bottom: .3rem;
}

/* Footer */

.degrade-haut-footer{
    width: 100%;
    height: 15rem;
    background: linear-gradient(to top, black 20%, transparent);
    position: relative;
    bottom: -1rem;
    z-index: -1;
}

footer {
    background-color: black;
    padding-bottom: 2rem;
}

.degrade-haut-footer h2{
    color: var(--light-white);
    text-align: center;
}

footer p{
    color: var(--pale-gray);
    text-align: center;
}

footer li a, footer div{
    color: var(--light-white);
    font-size: 1.6rem;
}

footer li a{
    font-size: 2.4rem;
}

.footer-social-networks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
}

footer hr{
    background-color: var(--light-white);
    margin-top: 4rem;
}

#avertissement{
    color: var(--light-white);
}

/*** CSS des différentes pages ***/

/** Index **/
.header-index{
    position: relative;
    z-index: -1;
}

.blocVideo video{
    position: relative;
    top: 10rem;
    width: 100%;
}

@media only screen and (max-width: 991px){
    .blocVideo{
        display: none;
    }
}

.degrade-bas-video-accueil{
    width: 100%;
    height: 5rem;
    background: linear-gradient(to top, white 20%, transparent);
    position: relative;
    bottom: -5rem;
    z-index: 0;
}

/* Carrousel */

.carousel{
    margin-bottom: 4rem;
}

.carousel-indicators{
    z-index: 1;
}

/** Chambres **/
.blocVideo img{
    position: relative;
    top: 10rem;
    width: 100%;
}

.fiche-service{
    background-color: var(--very-pale-gray);
    border: solid var(--deep-gray) 1px;
    padding: 0;
    box-shadow: .3rem .3rem .3rem gray;
    margin-bottom: 4rem;
}

.fiche-service p{
    font-size: 1.4rem;
    margin-top: 2rem;
}

.fiche-service div{
    max-width: 100%;
    text-align: center;
}

.fiche-service img{
    margin-top: 1rem;
    max-width: 100%;
}

.galerie{
    border: solid var(--light-white) 2px;
    padding: 0;
    /* box-shadow: .3rem .3rem .3rem gray; */
    margin: 2rem 0 2rem 0;
    text-align: center;
    padding: 1rem .2rem 1rem .2rem;
}

.galerie img {
    transition: .5s;
    padding: 10px;
}

.galerie img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
} 